@charset "utf-8";
/* CSS Document */
body{
	padding-top:50px;
	}
	
	.banner{
		background:url(../images/bg.jpg) no-repeat top center #6c1aaf;
		height: 500px;
		width:auto;
		background-attachment: fixed;
		}
		.login-form {
	position: absolute;
	width: 340px;
	height: 390px;
	right: 20px;
	background: #FFF;
	top: 145px;
	padding:40px;
         }
		   .divp{
	 margin-left:-30px;
	 height:58px;
	  width:300px;
	  margin-top:5px;

  }
.account-footer {
  text-align: center;
  margin-top: 26px;
  font-size: 12px;
  border-top: 1px solid #d4d4d4;
}
a{
	color:#000;
	
}
#code{
	width:120px;
	height:50px;
	font-size:20px;
		font-family:Arial;  
		font-style:italic;  
		font-weight:bold;  
		border:0;  
		letter-spacing:2px;  
		color:red;  
	}
img {
	width:20px;
	height:30px;
	
}/* CSS Document */
input {
      border: 1px solid #bdbdbd;
      text-indent: .5em;
      outline: none;
      height:40px;
	  width:150px;
      line-height: 40px;
	  margin-top:8px;
	  }
	   .error{
	color:red;
	font-size:14px;
}

label{
	font-size:18px;
	
}

	  .submit{
		    background:#f7325d;
			color:#FFF;
			text-align:center;
		 height:40px;
	  width:250px;
	  }
		#code{
	width:85px;
	height:48px;
	font-size:20px;
		font-family:Arial;  
		font-style:italic;  
		font-weight:bold;  
		border:0;  
		letter-spacing:2px;  
		color:#F00;  
	}
	#input {
      border: 1px solid #bdbdbd;
      text-indent: .5em;
      outline: none;
      height: 35px;
	  width:67px;
      line-height: 40px;
	  margin-top:8px;
	  margin-right:8px;
	  }
	  #autoLogin{
		 height:12px;
	  width:20px; 
		  
	  }
  .zddl{
	  font-size:14px;
	  
  }
  .ljzc{
	  margin-top:13px;
	  height:10px;
	  width:80px;
	  float:right;
	  margin-left:65px;
  }